{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>

<div id="content-related">
  <h3 style = "font-size:2.5em">알림</h3>
  <p style = "font-size:1.5em">캐시 페이지 검색 버그 수정</p>
  <p>작성시간: 2021-09-18 11:36:29</p>
</div>
{% endblock %}
