{% extends "admin/change_list.html" %}

{% block content_title %}
    {% if request.GET.o == "4" %}
    <h1> {% now "n" %}월 갤창랭킹 (ver. 받은 댓글 수)</h1>
    {% elif request.GET.o == "5" %}
    <h1> {% now "n" %}월 갤창랭킹 (ver. 조회수)</h1>
    {% elif request.GET.o == "6" %}
    <h1> {% now "n" %}월 갤창랭킹 (ver. 받은 개추 수)</h1>
    {% else %}
    <h1> {% now "n" %}월 갤창랭킹 </h1>
    {% endif %}
{% endblock %}

{% block result_list %}
<div class="results">
  <table style="display:inline-block;">
    <thead>
      <tr>
        <th>
          <div class="text">
            <span>순위</span>
          </div>
        </th>
        <th>
          <div class="text">
            <a href=".">글 수</a>
          </div>
        </th>
        <th>
          <div class="text">
            <span>닉네임</span>
          </div>
        </th>
        <th>
          <div class="text">
            <span>ID/IP</span>
          </div>
        </th>
        {% if request.GET.o == "4" %}
        <th class="sorted">
        {% else %}
        <th>
        {% endif %}
          {% if request.GET.o == "4" %}
          <div class="sortoptions">
            <a class="sortremove" href="."></a>
          </div>
          {% endif %}
          <div class="text">
            {% if request.GET.o == "4" %}
            <a href=".">받은 댓글 수</a>
            {% else %}
            <a href="?o=4">받은 댓글 수</a>
            {% endif %}
          </div>
        </th>
        {% if request.GET.o == "5" %}
        <th class="sorted">
        {% else %}
        <th>
        {% endif %}
          {% if request.GET.o == "5" %}
          <div class="sortoptions">
            <a class="sortremove" href="."></a>
          </div>
          {% endif %}
          <div class="text">
            {% if request.GET.o == "5" %}
            <a href=".">조회수</a>
            {% else %}
            <a href="?o=5">조회수</a>
            {% endif %}
          </div>
        </th>
        {% if request.GET.o == "6" %}
        <th class="sorted">
        {% else %}
        <th>
        {% endif %}
          {% if request.GET.o == "6" %}
          <div class="sortoptions">
            <a class="sortremove" href="."></a>
          </div>
          {% endif %}
          <div class="text">
            {% if request.GET.o == "6" %}
            <a href=".">받은 개추 수</a>
            {% else %}
            <a href="?o=6">받은 개추 수</a>
            {% endif %}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="row">
        <td> {{ row.rank }} </td>
        <td> {{ row.count }} </td>
        <td> {{ row.name }} </td>
        <td> {{ row.idip }} </td>
        <td> {{ row.comment_count }} </td>
        <td> {{ row.gall_count }} </td>
        <td> {{ row.gall_recommend }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
