{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> 7월 갤창랭킹 </h1>
{% endblock %}

{% block result_list %}
<div class="results">
  <table style="display:inline-block;">
    <thead>
      <tr>
        <th>
          <div class="text">
            <span>순위</span>
          </div>
        </th>
        <th>
          <div class="text">
            <a href=".">글 수</a>
          </div>
        </th>
        <th>
          <div class="text">
            <span>닉네임</span>
          </div>
        </th>
        <th>
          <div class="text">
            <span>ID/IP</span>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="?o=4">받은 댓글 수</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="?o=5">조회수</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="?o=6">받은 개추 수</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="row">
        <td> {{ row.rank }} </td>
        <td> {{ row.count }} </td>
        <td> {{ row.name }} </td>
        <td> {{ row.idip }} </td>
        <td> {{ row.comment_count }} </td>
        <td> {{ row.gall_count }} </td>
        <td> {{ row.gall_recommend }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}
